* {
	box-sizing : border-box;
}

.studentPortal {
	position : absolute;
	top : 0px;
	left : 0px;
	min-Width : 100%;
	min-height : 100%;
}

#search{
 min-width : 80% ;
}

.navbar-brand  {
	list-style : none;
}

.content  {
	min-width : 100%;
	display : inline-block;
	min-height : 100%;
	position : absolute;
}

.displayContent {
	float : left;
	width : 85%;
	height : 100%;
	position : absolute;
}

.Feeds {
	float : left;
	top : 15%;
	width : 18%;
	margin-left : 2%;
	background-color : yellow;
	height : 70%;
	position : sticky;
	overflow : auto;
}

.Posts {
	float : left;
	width : 60%;
	background-color : green;
	margin-left : 30%;
	margin-top : 0%;
	position : absolute;
}

.Connection {
	float : left;
	left : 85%;
	width : 15%;
	background-color : blue;
	bottom : 0px;
	top : 8%;
	right : 0px;
	position : fixed; 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .Posts{
        margin-left : 0px;
		margin-right : 0px;
		width : 100%;
    }
	.Connection,.Feeds {
		display : none;
	}
	
	.displayContent {
		width : 100%;
	}
}
